Django>=1.7,<1.8
psycopg2
pytz
django-braces
django-model-utils
django-pipeline
django-registration-redux==1.1
django-mailgun
djangorestframework
git+git://github.com/mavidulin/django-files-widget.git
# raven
