body {
    /* Define background color just because of footer. It will look like
    footer extends to the bottom of the screen no matter what */
    background-color: #333333;
}
#footer {
    position: relative;
    clear: both;
    text-align: center;
    color: #9b8c75;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Set the same background color as body */
    background-color: #333333;
}
#content {
    min-height: 500px;
    background-color: white;
}

.vp-error,
.vp-form-field-error {
    color: #d43f3a;
}
.vp-form-field-error{
    margin-top: -15px;
}
.vp-center {
    display: block;
    float: none;
    margin: 0 auto;
}
.vp-text-center {
    text-align: center;
}
.vp-item-active {
    background-color: #272727 !important;
}
#explore-map {
    height: 550px;
}

.vp-size-17 {
    font-size: 17px;
}
.vp-size-26 {
    font-size: 26px;
}
.vp-trash-icon {
    color: #FF6666;
}

.files-widget {
    margin-bottom: 15px;
}
.files-widget .controls .fake-files-input .files-input[type="file"] {
    margin: 0;
}
.files-widget .controls .fake-files-input {
    top: 5px;
}
.files-widget-dropbox {
    background-color: #F8F8F8;
    border: 1px solid #B2B2B2 !important;
}

.vp-required-label {
    color: #E4513A;
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    position: relative;
    float: right;
    font-weight: bold;
}

.vp-form-label {
    font-weight: bold;
}

.vp-label-help-text {
    font-size: 14px;
    font-style: italic;
    color: #8A8A8A;
    font-weight: bold;
}

.vp-table-head {
    font-weight: bold;
    border-right: 1px solid #ddd;
    background-color: #E6F5E6;
}

.vp-intable-accordion-panel-href {
    padding: 0 !important;
    background-color: inherit !important;
    font-size: 14px !important;
    color: #4682B4 !important;
}
.vp-intable-panel-content {
    margin-left: 0 !important;
    font-size: 12px !important;
    padding: 5px 0 0 0 !important;
    background-color: inherit !important;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-next {
    right: -6px;
}

.slick-image-container {
    left: 7px;
}

.vp-table-head {
    width: 200px;
}