{%  extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}files_widget/css/widgets.css">
{% endblock style %}

{% block content %}

<!-- Wrapper div -->
<div class="row" style="top: 15px;position:relative;">

<div class="row" style="margin-bottom: 15px;">
    <div class="small-8 columns vp-center">
        <div class="small-11 columns" style="margin-left: -30px;">
            <h4>
                {% if mode == 'create' %}
                    ADD NEW PEST/DISEASE ENTRY
                {% else %}
                    EDIT PEST/DISEASE ENTRY
                {% endif %}
            </h4>
        </div>
        {% if mode == 'update' %}
            <div class="small-1 column" style="margin-right: -30px;">
                <a href="{% url 'delete_entry' form.instance.id %}">
                    <i class="fi-trash vp-trash-icon vp-size-26"></i>
                </a>
            </div>
        {% endif %}
    </div>
</div>

<div class="row" style="margin-bottom: 15px;">
    <div class="small-8 columns vp-center" style="left: -15px;">
        <h6 style="font-style: italic; color: #4d4d4d;">
            Note: If pest/disease is not on any given crop field, you
            have to place marker on the map.
        </h6>
    </div>
</div>

{% if form.non_field_errors %}
    <div class="row">
        <div class="small-8 columns vp-center">
            {% for error in form.non_field_errors %}
                <div class="row">
                    <p class="vp-error"> {{error}} </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row" style="margin-top: 15px;">
    <div class="small-8 columns vp-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label>
                    <span class="vp-form-label">{{form.crop_field.label}}</span>

                    {{form.crop_field}}
                </label>
                {% if form.crop_field.errors %}
                    {% for error in form.crop_field.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <label>
                    <span class="vp-form-label">{{form.pest_disease_name.label}}</span>
                    <span class="vp-required-label">*REQUIRED</span>

                    {{form.pest_disease_name}}
                </label>
                {% if form.pest_disease_name.errors %}
                    {% for error in form.pest_disease_name.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <div class="small-5 columns" style="margin-left:-15px">
                    <label>
                        <span class="vp-form-label">{{form.entry_type.label}}</span>
                        <span class="vp-required-label">*REQUIRED</span>

                        {{form.entry_type}}
                    </label>
                    {% if form.entry_type.errors %}
                        {% for error in form.entry_type.errors %}
                            <p class="vp-form-field-error">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="small-7 columns" style="margin-right:-15px">
                    <label>
                        <span class="vp-form-label">{{form.occurence_date.label}}</span>
                        <span class="vp-label-help-text"> &nbsp; (yyyy-mm-dd)</span>
                        <span class="vp-required-label">*REQUIRED</span>

                        {{form.occurence_date}}
                    </label>
                    {% if form.occurence_date.errors %}
                        {% for error in form.occurence_date.errors %}
                            <p class="vp-form-field-error">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <label>
                    <span class="vp-form-label">IMAGES</span>
                    <span class="vp-required-label">*REQUIRED</span>

                    {{form.images}}
                </label>
                {% if form.images.errors %}
                    {% for error in form.images.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                {{form.location}}
                <label>
                    <span class="vp-form-label">LOCATION (only if Crop Field is not selected)</span>

                    {% if form.location.errors %}
                        {% for error in form.location.errors %}
                            <span class="vp-form-field-error">{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </label>
                <div id="map" style="height: 450px;"></div>
            </div><br>

            <div class="row">
                <label>
                    <span class="vp-form-label">{{form.damage_estimation.label}}</span>

                    {{form.damage_estimation}}
                </label>
                {% if form.damage_estimation.errors %}
                    {% for error in form.damage_estimation.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <label>
                    <span class="vp-form-label">{{form.pesticide_use.label}}</span>

                    {{form.pesticide_use}}
                </label>
                {% if form.pesticide_use.errors %}
                    {% for error in form.pesticide_use.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row" style="margin-top: 15px;">
                <label>
                    <span class="vp-form-label">{{form.is_harvested.label}} &nbsp;</span>

                    {{form.is_harvested}}
                </label>
                {% if form.is_harvested.errors %}
                    {% for error in form.is_harvested.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row" style="border-top: 1px solid #8A8A8A; padding-top: 25px;">
                <label>
                    <span class="vp-form-label">{{form.harvest_date.label}}</span>
                    <span class="vp-label-help-text"> &nbsp; (yyyy-mm-dd)</span>

                    {{form.harvest_date}}
                </label>
                {% if form.harvest_date.errors %}
                    {% for error in form.harvest_date.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row" style="border-bottom: 1px solid #8A8A8A; padding-bottom: 20px; margin-bottom: 25px;">
                <label>
                    <span class="vp-form-label">{{form.harvest_destroyed.label}}</span>

                    {{form.harvest_destroyed}}
                </label>
                {% if form.harvest_destroyed.errors %}
                    {% for error in form.harvest_destroyed.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <label>
                    <span class="vp-form-label">{{form.additional_info.label}}</span>

                    {{form.additional_info}}
                </label>
                {% if form.additional_info.errors %}
                    {% for error in form.additional_info.errors %}
                        <p class="vp-form-field-error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <input type="submit" class="button expand" value="Save">
            </div>
        </form>
    </div>
</div>

</div> <!-- End Wrapper div -->

{% endblock content %}

{% block extra_js %}

{{form.media}}

<script type="text/javascript">

// Make textarea elemnts gave 4 rows
$('textarea').attr('rows', 4);

var datepickerOptions = {
    dateFormat: "yy-mm-dd"
};

$('#id_occurence_date').datepicker(datepickerOptions);
$('#id_harvest_date').datepicker(datepickerOptions);

var cropFields = {{crop_fields | safe}};
var individualEntries = {{individual_entries | safe}};

{% if editing_geom_id %}
    // When editing a geom object, remove it from the map because it will
    // be read from input field.
    for (var i = 0; i < individualEntries.length; i++) {
        if (individualEntries[i].id === {{editing_geom_id}}) {
            individualEntries.splice(i, 1);
            break;
        }
    }
{% endif %}

$(function() {

    var options = {
        currentUserId: {{user.id}},
        draw: true,
        map_id: 'map',
        geom_field_id: 'id_location',
        cropFields: cropFields,
        individualEntries: individualEntries,
        polyline: false,
        polygon: false,
        rectangle: false,
        circle: false,
        marker: true,
    };

    new VP.map(options);
});

</script>
{% endblock extra_js %}