{% extends 'base.html' %}

{% block title%} Map Explorer - Save My Crops {% endblock title%}

{% block content %}

{% if user.is_authenticated %}
<div id="map-actions">
    <a href="{% url 'add-crop-field' %}" id="add-crop-field-btn" class="button tiny">
        ADD CROP FIELD
    </a>
    <a href="{% url 'add-entry' %}" id="add-entry-btn" class="button tiny">
        REPORT PEST OR DISEASE
    </a>
</div>
{% endif %}

<div id="explore-map"></div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
var cropFields = {{crop_fields | safe}};
var individualEntries = {{individual_entries | safe}};

{% if user.is_authenticated %}
    var currentUserId = {{user.id}};
{% else %}
    var currentUserId = undefined;
{% endif %}

$(function() {

    var options = {
        draw: false,
        map_id: 'explore-map',
        cropFields: cropFields,
        individualEntries: individualEntries,
        currentUserId: currentUserId
    };

    new VP.map(options);
});

</script>
{% endblock extra_js %}

