{% extends 'base.html' %}

{% block title%} Mobile App Download - Save My Crops {% endblock title%}

{% block content %}

<!-- Wrapper div -->
<div class="row" style="top: 15px;position:relative;">

    <div class="row" style="margin-bottom: 15px;">
        <div class="small-12 columns">
            <h4 style="text-align:center;">DOWNLOAD ANDROID APP:</h4>

            <div class="row">
                <img class="vp-center" src="https://chart.googleapis.com/chart?chs=116x116&cht=qr&chl=https://build.phonegap.com/apps/1403448/install/pELbKuReoY_Av1rydjxL&chld=L|1&choe=UTF-8" style="width:200px;height:200px">

                <p style="text-align:center;">Scan the image with your mobile QR Scanner and download the app.</p>
                <p style="text-align:center;font-size:12px;font-style:italic;">Note: Depending on your mobile device settings, you may have to allow installation from unknown sources in your settings because this app is not avaliable via official Play Store.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
